/* .ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupHeader button {
  font-size: 20px;
}

.mainModal {
  width: 50%;
  border: 1px solid #3333;
} */
